.statistics-screen {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  &__content {
    margin: 0 auto;
    padding: 30px 40px;

    .statistics {
      background-color: #ffffff;
      color: #686a76;
      font-size: 18px;
      width: 450px;
      height: 500px;
      padding: 20px;
      border-radius: 0.25rem;

      &__list {
        text-align: left;
        height: 356px;
        overflow-y: scroll;
      }

      &__button {
        margin-top: 23px;

        button {
          color: #ffffff;
          background-color: #652c71;

          &:hover {
            background-color: #71327e;
          }

          &:focus {
            box-shadow: 0 0 0 0.2rem rgba(101, 44, 113, 0.55);
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .statistics-screen__content .statistics {
    width: 350px;
  }
}

@media (max-width: 575px) {
  .statistics-screen .statistics-screen__content {
    padding: 30px 10px;
  }
}

@media (max-width: 374px) {
  .statistics-screen__content {
    .statistics {
      padding: 20px 10px;
      width: 300px;

      &__list {
        height: 330px;
        font-size: 16px;
      }
    }
  }
}