.circular-chart {
    display: block;
    max-height: 150px;
    width: 100px;
    height: 100px;
}
  
.circle {
    stroke: #ffffff;
    fill: none;
    animation: progress 1s ease-out forwards;
}
  
@keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
}

.percentage {
    fill: #ffffff;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}