@import './sprint.logo.scss';
@import './sprint.start-screen.scss';
@import './sprint.game-screen.scss';
@import './sprint.results-screen.scss';
@import './sprint.time-chart.scss';
@import './sprint.card.scss';
