.card {
  width: 450px;
  height: 350px;
  border: none;

  &.correct {
    box-shadow: inset 0px 0px 4px 2px rgb(40, 167, 69);
  }

  &.wrong {
    box-shadow: inset 0px 0px 4px 2px rgb(220, 53, 69);
  }

  &__header {
    padding: 20px 20px 0;
    color: #ffffff;
    border-radius: 0.25rem 0.25rem 0 0;

    .card__circles {
      display: flex;
      justify-content: space-around;
      width: 60px;
      margin: 0 auto;

      .circle {
        width: 15px;
        height: 15px;
        background-color: #d5dbde;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &.correct {
          background-color: #28a74580;
        }

        i {
          font-size: 0.6rem;
        }
      }
    }

    .points-increase {
      margin: 0;
      padding: 15px 0;
    }
  }

  &__main {
    height: 203px;
    color: #686a76;
    font-size: 1.5rem;
    padding: 45px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin: 0;
    }

    .card__result {
      width: 30px;
      height: 30px;
      margin-top: 113px;
      position: absolute;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.correct {
        background-color: #28a74580;
      }

      &.wrong {
        background-color: #dc354580;
      }

      i {
        color: white;
        font-size: 16px;
      }
    }

    hr {
      margin: 56px 0 20px;
      border-top: 1px solid #d5dbde;
      width: 410px;
    }
  }

  &__footer {
    padding: 0 20px 20px;

    button {
      width: 95px;
    }

    button:focus {
      box-shadow: none;
    }

    .btn-danger {
      margin-right: 10px;
    }
  }
}

@media (max-width: 991px) {
  .game-screen {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .game-screen {
    .card {
      width: 320px;

      hr {
        width: 280px;
      }
    }
  }
}

@media (max-width: 374px) {
  .game-screen {
    .card {
      width: 290px;

      hr {
        width: 250px;
      }
    }
  }
}
