.game-screen {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;

  &__content {
    margin: 0 auto;
    padding: 0 40px;

    .choice {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      color: #fff;
      margin-top: 30px;

      .switches {
        label {
          font-size: 1rem;
          padding: 0;
          margin: 0;
        }

        input {
          width: 50px;
          padding: 0;
          text-align: center;
          color: #686a76;
          margin-right: 10px;

          &:focus {
            outline: none;
          }
        }

        input[type='number']::-webkit-inner-spin-button {
          width: 22px;
          height: 22px;
        }
      }
      .learned-words {
        &:hover {
          color: #3d2567;
          cursor: pointer;
        }

        &.chosen {
          color: #3d2567;
        }
      }
    }

    .error-message {
      color: #fff;
      margin-top: 10px;
      position: absolute;
      margin-right: -50%;
      transform: translate(-50%, 0);
    }

    .current-state {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .points {
        font-size: 36px;
        color: #ffffff;
        margin-bottom: 13px;
      }
    }

    .sounds {
      color: #ffffff82;
      margin: 0 auto 10px;
      width: 60px;

      i {
        cursor: pointer;

        &:first-child {
          margin-right: 24px;
        }

        &.chosen {
          color: white;
        }
      }
    }

    .arrows {
      margin-top: 20px;
      margin-bottom: 20px;
      color: #686a76;
      display: flex;
      justify-content: center;

      .arrow {
        width: 25px;
        height: 25px;
        border-radius: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #d5dbde;
        box-shadow: inset -3px -3px 3px 0px rgba(88, 87, 87, 0.8);

        i {
          font-size: 16px;
        }

        &:first-child {
          margin-right: 13px;
        }

        i {
          cursor: default;
        }
      }
    }

    .start-game {
      position: absolute;
      top: 300px;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      color: #ffffff;
      background-color: #652c71;

      &:hover {
        background-color: #71327e;
        color: #ffffff;
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(101, 44, 113, 0.55);
      }
    }

    .start-timer {
      position: absolute;
      top: 300px;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      left: 50%;

      svg {
        margin-right: 0;
      }
    }

    .get-ready{
      position: absolute;
      color: #fff;
      top: 350px;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }
  }
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

@media (max-width: 991px) {
  .game-screen {
    padding-bottom: 30px;

    .arrows {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .game-screen {
    &__content {
      padding: 0 20px;

      .choice {
        flex-direction: column;
        align-items: center;

        .switches {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 374px) {
  .game-screen {
    &__content {
      padding: 0 2px;
    }
  }
}
