.main-swiper-container {
  min-height: calc(100vh - 137px);
  margin-bottom: 20px;
}
.main-swiper.swiper-container {
  width: calc(100vw - 200px);
  margin-top: 40px;
  &.container-shrinked {
    width: calc(100vw - 100px);
  }
  & .main-swiper-col {
    max-width: 700px;
  }
}

#main-button-next.main-btn-disable,  #main-button-prev.main-btn-disable{
  display: none !important;
}

#main-progres {
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  height: 2px;
  & .main-progress-area {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    color: gray;
  }
}

@media (max-width: 575px ) {
  .main-swiper.swiper-container {
    width: 100vw;
    margin-top: 40px;
    &.container-shrinked {
      width: calc(100vw - 100px);
    }
  }
}