.introduction {
  background-color: rgb(89, 209, 230);
  background-image: url('../assets/img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  z-index: 10;
  width: calc(100vw - 100px);
  overflow: hidden;
}

.introduction__container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 78px);
}

.width {
  width: 100vw;
}

.speakit-actives {
  width: calc(100vw - 200px);
}

@media (max-width: 575px) {
  .introduction {
    width: 100vw;
  }
  .speakit-actives {
    width: 100vw;
  }
}

.introduction.hidden {
  display: none;
}

.introduction__button {
  margin-top:50vh;
  margin-left: calc(46vw - 90px);
  bottom: 200px;
  min-width: 15vw;
  min-height: 50px;
  font-size: 27px;
  background-color: rgb(89, 209, 230);
  box-shadow:  5px 10px 0 rgba(0, 0, 0, 0.2), 0px 5px 10px 0 rgba(0, 0, 0, 0.4),
               0 0 40px 40px rgb(89, 209, 230) inset, 0 0 0 0 #00bf82;
  transition: .03s ease-in-out;
  &:focus,
  &:hover,
  &:active {
    color: white;
  }
}
