.vocabulary-heading {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  color: #007bff;
}

#root {
  width: 100%;
}

th, td {
  text-align: center;
}

.delete-button,
.easy-button,
.learned-button {
  margin-left: 20px;
}

