@import './login.logo.scss';
@import '../../../scss/normalize.scss';
@import '../../../scss/mixins.scss';
@import '../../../scss/variables.scss';
@import '../../../scss/common.scss';


.login {
    position: relative;
    height: 100vh;
    background: url('../../promo/assets/img/bg.jpg') no-repeat center bottom;
    background-size: cover;
    font-family: Poppins, sans-serif;

    .overlay {
        position: absolute;
        background-color: #212529;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.8;
        background: #007bffd9;
    }
    small {
        font-family: tahoma, sans-serif;
        color: $main-text-color;
    }
}
.login .card {
    margin: 20vh auto;
    max-width: 550px;
}
.login__logo {
    padding-left: 20px;
    position: absolute;
    left: 0;
}
.login .card-header {
    padding-top: 20px;
    color: $main-text-color;
}

.form-group-material {
    position: relative;
    margin-bottom: 30px;
    i {
        margin-right: 10px;
    }
}
input.input-material {
    width: 100%;
    border: none;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    color: $main-text-color;
}

input.input-material.is-invalid {
    border-color: $main-pink-color !important;
}

input.input-material:focus {
    border-color: $main-blue-color;
}

input.input-material ~ label {
    color: #aaa;
    position: absolute;
    top: 14px;
    left: 0;    
    cursor: text;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-weight: 300;
}

input.input-material ~ label.active {
    font-size: 0.8rem;
    top: -10px;
    color: $main-blue-color;
}

input.input-material.is-invalid ~ label {
    color: $main-pink-color; 
}
input.input-material.is-invalid ~ .help {
    background: url('../../../assets/img/help-incorrect.png');
    background-size: contain;
}

#register-form button,  #login-form button{
    background-color: $main-pink-color;
    border-color: $main-pink-color;
    border-radius: 15px;
    margin-bottom: 20px;
}

.row.login-row {
    margin: 0;
}

#attention-icon {
    opacity: 1;
    color: red;

}
#attention-icon.hidden {
    opacity: 0;
}
.help {
    position: absolute;
    top: 15px;
    right: 0;
    background: url('../../../assets/img/help.png') no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    cursor: pointer;
    outline: none;
}
.help:hover {
    background: url('../../../assets/img/help-active.png');
    background-size: contain;
}
.help:hover~.password-text {
    display: block;
} 

.password-text {
    z-index: 10;
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 100%;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    color: $main-text-color;
    background-color: $main-light-color;
    display: none;
}

@media (max-width: 450px) {
    .login__logo {
        top: 15px;
    }
    .login__header {
        padding-top: 30px;
    }

}