//root.className = 'audio-call-root';
//body.classList.add('audio-call-body');


.audio-call-body {
  -webkit-animation: fade-in 1.5s linear; /* Safari 4+ */
  -moz-animation: fade-in 1.5s linear; /* Fx 5+ */
  -o-animation: fade-in 1.5s linear; /* Opera 12+ */
  animation: fade-in 1.5s linear; /* IE 10+, Fx 29+ */

  #root.audio-call-root {
    position: relative;
    width: 100%;
  }

  @-o-keyframes fade-in {
    0% {
      opacity: .1;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: .1;
    }

    100% {
      opacity: 1;
    }
  }

  p {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  h4 {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 40px 40px 15px 0 rgba(0, 0, 0, .125);
    padding: 16px 32px;
    min-width: 250px;
    transition: box-shadow .25s ease-in-out;
    min-height: 335px;

    &:hover {
      box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, .125);
    }
  }

  .list-unstyled {
    list-style: none;
  }

  .rounded-circle {
    border-radius: 50%;
  }

  .border {
    border: 1px solid #ccc;
  }

  .shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  }

  .pl-0 {
    padding-left: 0;
  }

  .d-inline-block {
    display: inline-block;
  }

  .pl-1 {
    padding-left: 4px;
  }

  .text-grey {
    color: #8f8f8f;
  }

  .card-button {
    button {
      width: 100%;
      padding: 10px;
      color: #fff;
      background-color: #ffa41b;
      border: none;
      font-size: 14px;
      font-family: 'Poppins', sans-serif;
      border-radius: 4px;
      cursor: pointer;
      transition: box-shadow .125s ease-in-out;

      &:hover {
        box-shadow: 0 0 5px 0 #f06292;
      }
    }
  }

  .card-button.two {
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    box-shadow: 0 0 50px #007944;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    button {
      font-size: 60px;
      background-color: #ffa41b;
      display: inline-block;
      color: #effffb;
      border: 0;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      animation-name: inner-center-div;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      text-transform: uppercase;
    }

    // p {
    //  padding-top: 75px;
    //  line-height: 1.2;
    //  font-family: verdana;
    //}

    @-webkit-keyframes inner-center-div {
      0% {
        transform: scale(1);
      }

      50% {
        transform: scale(1.1);
      }

      100% {
        transform: scale(1);
      }
    }

    @keyframes inner-center-div {
      0% {
        transform: scale(1);
      }

      50% {
        transform: scale(1.1);
      }

      100% {
        transform: scale(1);
      }
    }
  }

  a {
    color: inherit;
  }

  button,
  input,
  select,
  textarea {
    font-family: inherit;
  }

  button:focus,
  input:focus,
  select:focus,
  textarea:focus,
  button:active,
  input:active,
  select:active,
  textarea:active {
    outline: 0;
  }

  h1 {
    margin: 0;
  }

  h3 {
    margin: 3rem 0 2rem;
    font-size: 40px;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 2rem;
  }

  .card {
    display: block;
    width: 100%;
    background: #000839;
    margin: auto;
    max-width: 100%;
    color: white;
    border-radius: .8rem;
  }

  .card__header {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card__body {
    padding: 5rem 7rem 7rem;
  }

  @media screen and (max-width: 900px) {
    .card__body {
      padding: 5rem 2rem 7rem;
    }
  }

  .toolbar__item {
    box-shadow: inset 0 0 15px rgba(255, 255, 255, .5);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    cursor: pointer;
    transition: all 300ms ease;
  }

  .toolbar__item:not(:last-of-type) {
    margin-right: .5rem;
  }

  .toolbar__item:hover,
  .toolbar__item:focus {
    transform: scale(1.1);
    box-shadow: inset 0 0 3px rgba(255, 255, 255, .1);
    transition: all 300ms ease;
  }

  .toolbar__item--close {
    background: #ea6759;
  }

  .toolbar__item--min {
    background: #fc0;
  }

  .toolbar__item--max {
    background: #2dcc72;
  }

  .grid {
    flex: 1;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
  }

  @media screen and (max-width: 900px) {
    .grid {
      max-width: 100%;
    }
  }

  .toggle {
    max-width: 62px;
    height: 32px;
    background: lightcyan;
    border-radius: 999px;
    position: relative;
    transition: all 300ms ease;
    cursor: pointer;
  }

  .toggle__handle {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    background: skyblue;
    border-radius: 50%;
    transition: all 300ms ease;
  }

  .toggle.is-on {
    background: white;
    transition: all 300ms ease;
  }

  .toggle.is-on .toggle__handle {
    left: 34px;
    background: steelblue;
    transition: all 300ms ease;
  }

  .form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
  }

  .form-item__control {
    width: 40%;
    text-align: right;
  }

  .control {
    background: transparent;
    color: inherit;
    display: block;
    width: 100%;
    border-radius: .3rem;
    padding: .4rem;
    border: 1px solid rgba(255, 255, 255, .3);
  }

  .control:hover,
  .control:focus {
    border-color: transparent;
  }

  .radio {
    display: inline-block;
  }

  .radio__item {
    display: inline-block;
    color: #7059e2;
    cursor: pointer;
    transition: all 300ms ease;
  }

  .radio__item:not(:last-of-type) {
    margin-right: 1rem;
  }

  .radio__item.is-active {
    color: white;
    transition: all 300ms ease;
  }

  .u-text--small {
    font-size: 1.3rem;
  }

  .u-text--normal {
    font-size: 1.6rem;
  }

  .u-text--large {
    font-size: 2.2rem;
  }

  .slider {
    width: 100%;
    position: relative;
  }

  .slider__positive {
    width: 100%;
    height: 5px;
    background: white;
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .slider__input {
    margin-top: 1rem;
    display: block;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: steelblue;
    outline: none;
    transition: all 300ms ease;
  }

  .slider__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 4px solid white;
    background: white;
    cursor: pointer;
    position: relative;
    transition: all 300ms ease;
  }

  .slider__input::-webkit-slider-thumb:focus,
  .slider__input::-webkit-slider-thumb:active {
    box-shadow: 0 3px 12px rgba(0, 0, 0, .2);
    transition: all 300ms ease;
  }

  .button {
    border: 0;
    background: white;
    color: steelblue;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 700;
    border-radius: .4rem;
    padding: .6rem 1.4rem;
    font-size: 1.4rem;
    line-height: 1;
    cursor: pointer;
  }

  .button:hover,
  .button:focus {
    background: steelblue;
    color: white;
    transition: all 300ms ease;
  }

  .buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: 3rem;
  }

  .buttons .button {
    margin-left: 1rem;
  }

  .card-button.two.hide {
    display: none;
  }

  .message-empty-words.hide {
    display: none;
  }

  @media (min-width: 320px) and (max-width: 768px) {

    h4 {
      font-size: 22px;
    }
    .card-body {
      padding: 10px 5px;
    }
    .card {
      margin-bottom: 20px;
    }
  }
}

