.main-swiper .card{
  width: 100%;
  min-height: 350px;
  margin-bottom: 30px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
  border-radius: 2px !important;
  border: none;
}

.main-swiper .card-header {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.25rem;
  background-color: #fff !important;
  border-bottom: none !important;
  & .card-header-area {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid  rgba(0,0,0,.1);
    & .main-type-game {
      color: $main-text-color;
      margin-right: 5px;
    }
    & .card-header-controls {
      align-items: center;
      & i {
        font-size: 1.5em;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        color: $main-blue-color;
        & .main-difficult-text, .main-delete-text {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          z-index: 10;
          padding: 5px;
          right: 120px;
          font-size: .6em;
          color: $main-text-color;
        }
        &.main-difficult-icon {
          &:hover>.main-difficult-text {
            opacity: 1;
            visibility: visible;
            transform: translateX(20px);
            transition: all .5s ease;
          }
          &.difficult-disabled {
            color: rgba(0, 0, 0, 0.1);
            cursor: auto;
            &:hover>.main-difficult-text {
              opacity: 0;
              visibility: hidden;
            }
          }
        }
        &.main-delete-icon {
          &:hover>.main-delete-text {
            opacity: 1;
            visibility: visible;
            transform: translateX(20px);
            transition: all .5s ease;
          }
          &.delete-disabled {
            color: rgba(0, 0, 0, 0.1);
            cursor: auto;
            &:hover>.main-delete-text {
              opacity: 0;
              visibility: hidden;
            }
          }
        }
      }
    }
  }

  & .main-screen-image {
    padding-top: 20px;
    max-height: 150px;
    width: auto;
    margin: 0 auto;
  }
}
i.main-i .far .fa-life-ring .main-difficult-icon:hover  {
  color: red;
}
.main-screen-card .card-body {
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 0 !important;
}

.card-body.phrase-explanation {
  display: inline-block;
  padding: 0;
  font-family: 'Noto Mono', monospace;
  font-size: 1.5em;
  color: #10707f;
  & .underlined {
    height: 1.2em;
    border-bottom: 1px solid #10707f;
  }
  & .underlined_word {
    visibility: hidden;
    opacity: 0;
    &.show {
      visibility: visible;
      opacity: 1;
    }
  }
}
.card-body.explanation-translate {
  visibility: hidden;
  opacity: 0;
  padding: 5px 0 10px;
  color: $main-text-color;
  &.show {
    visibility: visible;
    opacity: 1;
    transition: 1s;
  }
}

.card-body.phrase-example {
  display: inline-block;
  padding: 0;
  margin-top: 5px;
  font-family: 'Noto Mono', monospace;
  font-size: 1.5em;
  color: #10707f;
  & .underlined {
    height: 1.2em;
    border-bottom: 1px solid #10707f;
  }
  & .underlined_word {
    visibility: hidden;
    opacity: 0;
    &.show {
      visibility: visible;
      opacity: 1;
      transition: 1s;
    }
  }
}
.card-body.example-translate {
  visibility: hidden;
  opacity: 0;
  padding: 5px 0 10px;
  color: $main-text-color;
  &.show {
    visibility: visible;
    opacity: 1;
    transition: 1s;
  }
}

.main-screen-card .card-spacer {
  height: 1px;
  border-bottom: 1px solid  rgba(0,0,0,.1);
}
.translate {
  padding-bottom: 20px;
}
.to-write {
  height: 1.5em;
  padding-left: 7px;
  background-color: #fdf6e2;
  border: none;
  color: #10707f;
  text-transform: lowercase;
  &::-webkit-input-placeholder {
    color: transparent;
  }
  &::-moz-placeholder {
    color: transparent;
  }
  &:-moz-placeholder {
    color: transparent;
  }
  &:-ms-input-placeholder {
    color: transparent;
  }
}
.to-write.incorrect {
  color: red;
  transition: .5s;
}
.to-write.correct {
  color: $main-green-color;
  transition: 1s;
}
.to-write.deleted {
  &::-webkit-input-placeholder {
    color: red;
    opacity: 1;
    transition: .5s;
    text-decoration: line-through;
  }
  &::-moz-placeholder {
    color: red;
    opacity: 1;
    transition: .5s;
    text-decoration: line-through;
  }
  &:-moz-placeholder {
    color: red;
    opacity: 1;
    transition: .5s;
    text-decoration: line-through;
  }
  &:-ms-input-placeholder {
    color: red;
    opacity: 1;
    transition: .5s;
    text-decoration: line-through;
  }
}
.to-write.difficulty {
  &::-webkit-input-placeholder {
    color: #ff7b00;
    opacity: 1;
    transition: .5s;
  }
  &::-moz-placeholder {
    color: #ff7b00;
    opacity: 1;
    transition: .5s;
  }
  &:-moz-placeholder {
    color: #ff6600;
    opacity: 1;
    transition: .5s;
  }
  &:-ms-input-placeholder {
    color: #ff6600;
    opacity: 1;
    transition: .5s;
  }
}
.to-write.show {
  &::-webkit-input-placeholder {
    color: $main-pink-color;
    opacity: 0.5;
    transition: 1s;
  }
  &::-moz-placeholder {
    color: $main-pink-color;
    opacity: 0.5;
    transition: 1s;
  }
  &:-moz-placeholder {
    color: $main-pink-color;
    opacity: 0.5;
    transition: 1s;
  }
  &:-ms-input-placeholder {
    color: $main-pink-color;
    opacity: 0.5;
    transition: 1s;
  }
}
.main-screen-card .translate-example {
  color: $main-text-color;
}
.main-screen-card .card-footer-area {
  justify-content: space-between;
  & .main-icon-area {
    position: relative;
    display: flex;
    justify-content: center;
    &  i {
      margin-left: 5px;
      margin-right: 5px;
      & .main-speaker-text, .main-answer-text, .main-arrow-text {
        opacity: 0;
        visibility: hidden;
        display: block;
        width: max-content;
        position: absolute;
        z-index: 10;
        bottom: 40px;
        right: 0;
        padding: 5px;
        font-size: .6em;
        color: $main-text-color;
        font-weight: 100;
      }
      & .main-arrow-text {
        right: 25%;
      }
      &.main-speaker {
        &:hover>.main-speaker-text {
          opacity: 1;
          visibility: visible;
          transform: translateY(20px);
          transition: all .5s ease;
        }
      }
      &.main-eye {
        &:hover>.main-answer-text {
          opacity: 1;
          visibility: visible;
          transform: translateY(20px);
          transition: all .5s ease;
        }
        &.eye-disabled.end {
          color: rgba(0, 0, 0, 0.1);
          cursor: auto;
          &:hover>.main-answer-text {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
      &.main-arrow {
        &:hover>.main-arrow-text {
          opacity: 1;
          visibility: visible;
          transform: translateY(20px);
          transition: all .5s ease;
        }
        &.hidden {
          opacity: 0;
          visibility: hidden;
        }
        &.main-arrow-disabled.end {
          color: rgba(0, 0, 0, 0.1);
          cursor: auto;
          &:hover>.main-arrow-text {
            opacity: 0;
            visibility: hidden;
          }
        }
      }
    }
  }
  & .card-footer-translate {
    visibility: hidden;
    opacity: 0;
    color: $main-text-color;
    &.show {
      visibility: visible;
      opacity: 1;
      transition: 1s;
    }
  }
}
i.main-speaker, i.main-arrow, i.main-eye {
  font-size: 1.5em;
  padding: 0;
  cursor: pointer;
  color: $main-pink-color;
}
.main-speaker.sound-off {
  color: gray;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-swiper .card-header {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.25rem;
  background-color: #fff !important;
  border-bottom: none !important;
  & .main-screen-image {
    max-height: 150px;
    width: auto;
    margin: 0 auto;
  }
}

.cssload-thecube {
  width: 131px;
  height: 131px;
  margin: 0 auto;
  margin-top: 88px;
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(43,160,199);
  animation: cssload-fold-thecube 2.76s infinite linear both;
	-o-animation: cssload-fold-thecube 2.76s infinite linear both;
	-ms-animation: cssload-fold-thecube 2.76s infinite linear both;
	-webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
	-moz-animation: cssload-fold-thecube 2.76s infinite linear both;
  transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
  transform: scale(1.1) rotateZ(90deg);
	-o-transform: scale(1.1) rotateZ(90deg);
	-ms-transform: scale(1.1) rotateZ(90deg);
	-webkit-transform: scale(1.1) rotateZ(90deg);
	-moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
  transform: scale(1.1) rotateZ(180deg);
	-o-transform: scale(1.1) rotateZ(180deg);
	-ms-transform: scale(1.1) rotateZ(180deg);
	-webkit-transform: scale(1.1) rotateZ(180deg);
	-moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
  transform: scale(1.1) rotateZ(270deg);
	-o-transform: scale(1.1) rotateZ(270deg);
	-ms-transform: scale(1.1) rotateZ(270deg);
	-webkit-transform: scale(1.1) rotateZ(270deg);
	-moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
  animation-delay: 0.35s;
	-o-animation-delay: 0.35s;
	-ms-animation-delay: 0.35s;
	-webkit-animation-delay: 0.35s;
	-moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
  animation-delay: 0.69s;
	-o-animation-delay: 0.69s;
	-ms-animation-delay: 0.69s;
	-webkit-animation-delay: 0.69s;
	-moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
  animation-delay: 1.04s;
	-o-animation-delay: 1.04s;
	-ms-animation-delay: 1.04s;
	-webkit-animation-delay: 1.04s;
	-moz-animation-delay: 1.04s;
}



@keyframes cssload-fold-thecube {
  0%, 10% {
    transform: perspective(245px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(245px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(245px) rotateY(180deg);
    opacity: 0;
  }
}

@-o-keyframes cssload-fold-thecube {
	0%, 10% {
		-o-transform: perspective(245px) rotateX(-180deg);
		opacity: 0;
	}
	25%, 75% {
		-o-transform: perspective(245px) rotateX(0deg);
		opacity: 1;
	}
	90%, 100% {
		-o-transform: perspective(245px) rotateY(180deg);
		opacity: 0;
	}
}

@-ms-keyframes cssload-fold-thecube {
	0%, 10% {
		-ms-transform: perspective(245px) rotateX(-180deg);
		opacity: 0;
	}
	25%, 75% {
		-ms-transform: perspective(245px) rotateX(0deg);
		opacity: 1;
	}
	90%, 100% {
		-ms-transform: perspective(245px) rotateY(180deg);
		opacity: 0;
	}
}

@-webkit-keyframes cssload-fold-thecube {
	0%, 10% {
		-webkit-transform: perspective(245px) rotateX(-180deg);
		opacity: 0;
	}
	25%, 75% {
		-webkit-transform: perspective(245px) rotateX(0deg);
		opacity: 1;
	}
	90%, 100% {
		-webkit-transform: perspective(245px) rotateY(180deg);
		opacity: 0;
	}
}

@-moz-keyframes cssload-fold-thecube {
	0%, 10% {
		-moz-transform: perspective(245px) rotateX(-180deg);
		opacity: 0;
	}
	25%, 75% {
		-moz-transform: perspective(245px) rotateX(0deg);
		opacity: 1;
	}
	90%, 100% {
		-moz-transform: perspective(245px) rotateY(180deg);
		opacity: 0;
	}
}

@media (max-width: 1000px ) {
  .main-screen-card .card-header-area {
    flex-direction: column;
    & .card-header-controls {
      justify-content: flex-end;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding-top: 5px;
    }
  }
  .card-body .phrase-explanation, .card-body .phrase-example {
    font-size: 1.3em;
  }

}

@media (max-width: 800px ) {
  .main-screen-card .card-footer-area {
    flex-direction: column !important;
    & .main-icon-area {
      justify-content: flex-end;
    }
    //   & i {
    //     & .main-speaker-text, .main-answer-text, .main-arrow-text {
    //       right: 140px;
    //       bottom: 0;
    //     }
    //     &.main-speaker {
    //       &:hover>.main-speaker-text {
    //         transform: translateX(20px);
    //       }
    //     }
    //     &.main-eye {
    //       &:hover>.main-answer-text {
    //         transform: translateX(20px);
    //       }
    //     }
    //     &.main-arrow {
    //       &:hover>.main-arrow-text {
    //         transform: translateX(20px);
    //       }
    //     }
    //   }
    // }
  }
}

@media (max-width: 600px ) {
  .card-body .phrase-explanation, .card-body .phrase-example {
    font-size: 1.1em;
  }
  .card-body .explanation-translate, .card-body .example-translate {
    font-size: .9em;
  }
  .main-screen-card .card-footer-translate {
    font-size: .9em;
  }
  .main-difficult-text, .main-delete-text {
    padding: 0 5px !important;
  }
  .main-icon-area {
    margin-top: 10px;
  }
  .main-swiper .swiper-button-prev {
    left: 2px;
  }
  .main-swiper .swiper-button-next {
    right: 2px;
  }
}

@media (max-width: 400px ) {
  .card-body .phrase-explanation, .card-body .phrase-example {
    font-size: 1em;
  }
  .card-body .explanation-translate, .card-body .example-translate {
    font-size: .8em;
  }
  .main-screen-card .card-footer-translate {
    font-size: .8em;
  }
  // .main-speaker-text, .main-answer-text, .main-arrow-text {
  //   transform: none !important;
  //   right: 100px !important;
  // }
  .main-difficult-text, .main-delete-text {
    transform: none !important;
    right: 70px !important;
    margin-left: 10px;
  }
  .main-difficult-icon, .main-delete-icon {
    margin-right: 0 !important;
  }
  .main-swiper-container .main-speaker, .main-swiper-container.main-eye, .main-swiper-container .main-arrow {
    margin-right: 0 !important;
  }
  .main-swiper .swiper-button-prev {
    top: 95%;
  }
  .main-swiper .swiper-button-next {
    top: 95%;
  }
  .main-screen-image {
    padding: 0;
    width: 100% !important;
  }

}
@media (max-width: 350px ) {
  .main-difficult-text, .main-delete-text {
    display: none;
  }
}
