@import './savanna.logo.scss';

.savanna-body {
    background-image: url('../assets/img/bg-savanna.jpg');
    background-size: cover;
    width: calc(100vw - 100px);
    height: calc(100vh - 77px);
    z-index: 2;
}

@media (max-width: 575px) {
    .savanna-body {
    width: 100vw;
    }
}

.savanna-hidden {
    display: none;
}

.savanna-main-page-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.savanna-second-page {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.savanna-results {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.savanna-main-menu-button {
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, 0);
    color: #ffffff;
    font-size: 1.3rem;
    width: 15%;
    height: 10%;
    overflow: hidden;
    background-color: rgba(168, 218, 224, 0.92);
    border-radius: 5px;
    text-align: center;
    align-items: center;
    &:focus,
    &:hover {
    color: #30c9d4;
    letter-spacing: 1.1px;
    box-shadow:
        0 0 2px rgba(202,228,225,0.92),
        0 0 10px rgba(202,228,225,0.34),
        0 0 4px rgba(30,132,242,0.52),
        0 0 7px rgba(30,132,242,0.92),
        0 0 11px rgba(30,132,242,0.78),
        0 0 16px rgba(30,132,242,0.92);
    }
}

.savanna-new-game-button {
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, 0);
    color: #ffffff;
    font-size: 1.3rem;
    width: 15%;
    height: 10%;
    overflow: hidden;
    background-color: rgba(168, 218, 224, 0.92);
    border-radius: 5px;
    text-align: center;
    align-items: center;
    &:focus,
    &:hover {
    color: #30c9d4;
    letter-spacing: 1.1px;
    box-shadow:
        0 0 2px rgba(202,228,225,0.92),
        0 0 10px rgba(202,228,225,0.34),
        0 0 4px rgba(30,132,242,0.52),
        0 0 7px rgba(30,132,242,0.92),
        0 0 11px rgba(30,132,242,0.78),
        0 0 16px rgba(30,132,242,0.92);
    }
}

.savanna-results-correct {
    position: absolute;
    top: 20%;
    left: 40%;
}

.savanna-results-errors {
    position: absolute;
    top: 30%;
    left: 40%;
}

.savanna-right-answers {
    color: rgb(29, 245, 126) !important;
}

.savanna-wrong-answers {
    color: rgb(151, 8, 15) !important;
}

.savanna-word-wrapper {
    position: absolute;
    top: 70%;
    left: 30%;
    width: 65%;
    height: 25%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.savanna-word-button {
    position: relative;
    transform: translate(-50%, 0);
    color: #ffffff;
    font-size: 1.3rem;
    width: 22%;
    height: 27%;
    overflow: hidden;
    background-color: rgba(168, 218, 224, 0.92);
    border-radius: 5px;
    text-align: center;
    align-items: center;
    &:focus,
    &:hover {
    color: #30c9d4;
    letter-spacing: 1.1px;
    box-shadow:
        0 0 2px rgba(202,228,225,0.92),
        0 0 10px rgba(202,228,225,0.34),
        0 0 4px rgba(30,132,242,0.52),
        0 0 7px rgba(30,132,242,0.92),
        0 0 11px rgba(30,132,242,0.78),
        0 0 16px rgba(30,132,242,0.92);
    }
}


.savanna-hearts-wrapper {
    position: absolute;
    right: 5vw;
    top: 20vh;
    width: 130px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 5px;
    padding-top: 5px;
}

.savanna-spinner-diamond {
    position: absolute;
    top: 90vh;
    left: 49vw;
    width: 13%;
    height: 10%;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    text-align: center;
    align-items: baseline;
}

.savanna-gif-diamond {
    border-radius: 30px 30px 50px 50px;
}

.savanna-one-heart {
    filter: invert(1);
    width: 25px;
    height: 25px;
}

.savanna-grey-heart {
    filter: invert(0.4);
}

.savanna-about {
    position: relative;
    color: #ffffff;
    top: -5%;
    font-family: 'Tenor-Sans', Tahoma, sans-serif;
    font-weight: 400;
    color: rgb(41, 151, 185);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
    display: inline-block;
    margin: 0;
}

.savanna-name {
    position: relative;
    top: -8%;
    align-self: center;
    display: block;
    margin-right: 10px;
    font-size: 3.5rem;
    font-family: 'Tenor-Sans', Tahoma, sans-serif;
    font-weight: 900;
    color: rgb(41, 163, 185);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
}

.savanna-start__button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    color: #0ac6df;
    text-decoration: none;
    font-size: 2rem;
    width: 20%;
    height: 10%;
    background-color: rgba(14, 143, 160, 0.92);
    border-radius: 5px;
    transition: .5s linear;
    &:focus,
    &:hover {
    color: #30c9d4;
    letter-spacing: 1.3px;
    box-shadow:
        0 0 2px rgba(202,228,225,0.92),
        0 0 10px rgba(202,228,225,0.34),
        0 0 4px rgba(30,132,242,0.52),
        0 0 7px rgba(30,132,242,0.92),
        0 0 11px rgba(30,132,242,0.78),
        0 0 16px rgba(30,132,242,0.92);
    }
}

.savanna-lvl_button {
    box-sizing: border-box;
    display: block;
    width: 35px;
    height: 35px;
    margin: 0 5px;
    padding: 0;
    line-height: 30px;
    transition: .5s linear;
    color: #0ac6df;
    background-color: rgba(14, 143, 160, 0.92);
    &:focus,
    &:hover {
    color: #30c9d4;
    letter-spacing: 1.3px;
    box-shadow:
        0 0 2px rgba(202,228,225,0.92),
        0 0 10px rgba(202,228,225,0.34),
        0 0 4px rgba(30,132,242,0.52),
        0 0 7px rgba(30,132,242,0.92),
        0 0 11px rgba(30,132,242,0.78),
        0 0 16px rgba(30,132,242,0.92);
    }
}

.savanna-top-word {
    position: absolute;
    top: 9vh;
    left: 40vw;
    width: 30%;
    height: 70%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
}

.savanna-current-word {
    position: absolute; 
    top: 10%;
}

.savanna-animated {
    top: 85%;
    transition: top 9s linear 1s;
}

.savanna-top-word {
    position: absolute; 
    top: 10%!important;
}

.savanna-lvl__text {
    align-self: center;
    display: block;
    margin-right: 10px;
    font-size: 25px;
    font-family: 'Tenor-Sans', Tahoma, sans-serif;
    font-weight: 900;
    letter-spacing: 1.5px;
    color: rgb(41, 168, 185);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.8);
}

.savanna-active-lvl {
    color: white;
    background-color: rgb(109, 208, 238);
}

.savanna-difficulties-lvl {
    position: absolute;
    left: 40vw;
    top: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 5px;
    padding-top: 10px;
}
