@import "../../../scss/normalize.scss";
@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";
@import '../../../scss/common.scss';

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
}

.header__container {
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;

  h1 {
    display: inline-block;
    margin: 0;
    font-size: 1.25rem;

    span {
      display: inline-block;
      text-decoration: none;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }

    .brand-text {
      font-family: Tenor-Sans, tahoma, sans-serif;
      color: $main-pretty-text-color;
      font-weight: 800;
      font-size: 1.2em;

      .colored {
        color: $main-pink-color;
        font-weight: 400;
      }
    }
  }
}

.hero {
  position: relative;
  background-image: url('../assets/img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 140px;
  color: #fff;
  text-align: center;

  .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    background: #007bffd9;
  }

  &__container {
    flex-direction: column;
    align-items: center;
  }

  &__title {
    z-index: 1;
    font-size: 2.5rem;
    margin: 0.67em 0;
  }

  &__subtitle {
    z-index: 1;
    max-width: 800px;
    font-size: 1.5rem;
  }
}

.advantages {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;

  &__container {
    justify-content: space-around;
  }

  .advantage {
    max-width: 300px;
    text-align: center;
  }

  i {
    color: $main-blue-color;
    margin-bottom: 15px;
    @include transition;

    &:hover {
      transform: scale(1.1);
    }
  }

  h3 {
    font-weight: 700;
  }

  p {
    font-size: 1.2rem;
  }
}

.about-team {
  background-color: $main-bg-color;
  padding-top: 80px;
  padding-bottom: 80px;

  &__container {
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-weight: 700;
    margin-bottom: 40px;
  }

  &__representation {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .team-member {
    text-align: center;
    max-width: 270px;

    &:nth-child(-n + 3) {
      margin-bottom: 40px;
    }

    img {
      width: 270px;
      height: 270px;
      object-fit: cover;
      margin-bottom: 20px;
      box-shadow: 0 7px 9px 0 #adb5bd;
      user-select: none;
      @include transition;

      &:hover {
        box-shadow: 0 7px 9px 0 #70767b;
      }
    }
  }
}

.video {
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;

  &__container {
    justify-content: center;
  }
}

.overlay_popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #011f3f9a;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease;
  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

.main-popup {
  display: none;
  position: fixed;
  margin: 0;
  padding: 0;
  height: 500px;
  background-color: $main-light-color;
  border-radius: 3px;
  z-index: 15;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: all .5s ease;
  &.visible {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(10px);
    transition: all .5s ease;
  }
}

.popup-header {
  display: flex;
  align-items: baseline;
  width: 100%;
}

#popup-close-button a {
  position: absolute;
  right: 10px;
  top: -30px;
  width: 22px;
  height: 22px;
  &::before {
    content: '';
    position: absolute;
    right: 10px;
    top: 0;
    width: 3px;
    height: 25px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 0;
    width: 3px;
    height: 25px;
    background-color: #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.popup-header ul {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 65%;
  margin: 0;
  padding: 0;
    & li {
    text-align: center;
    list-style: none;
    padding: 0 30px;
      & a {
      display: block;
      padding: 30px 0 5px;
      margin: 0;
      text-decoration: none;
      font-size: 1.2em;
      }
  }
}

#sign-in {
  color: #a5a5a5;
  border-radius: 5px 0 0 0;
  border-bottom: 1px solid transparent;
}

#sign-in.active {
  color: $main-blue-color;
  background-color: transparent;
  border-bottom: 1px solid $main-blue-color;
}

#register {
  color: #a5a5a5;
  border-radius: 0 5px 0 0;
  border-bottom: 1px solid transparent;
}

#register.active {
  color: $main-blue-color;
  background-color: transparent;
  border-bottom: 1px solid $main-blue-color;
}

.popup-content {
  height: 400px;
  border-top: 1px solid rgb(204, 204, 204);
  margin-top: 15px;
  overflow: hidden;
}

#register-form {
  position: relative;
  top: 25px;
  left: 0;
  font-size: 1em;
  opacity: 1;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
    &.move-left {
      opacity: 0;
      transform: translateX(-450px);
    }
}

form label {
  font-size: 1.1em;
  color: $main-text-color;
  margin-left: 10px;
}

#login-form {
  z-index: -1;
  position: relative;
  top: -270px;
  left: 0;
  font-size: 1em;
  opacity: 0;
  transform: translateX(450px);
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
    &.move-left {
      z-index: 1;
      opacity: 1;
      transform: translateX(0);
  }
}

.login__logo {
  padding-left: 40px;
  width: 35%;
}

.form-group-material {
  position: relative;
  margin-bottom: 30px;
  i {
      margin-right: 10px;
  }
}

input.input-material {
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  padding: 10px 10px;
  color: $main-text-color;
  background-color: transparent;
}

input.input-material.is-invalid {
  border-color: $main-pink-color !important;
}

input.input-material:focus {
  border-color: $main-blue-color;
}

input.input-material ~ label {
  color: #aaa;
  position: absolute;
  top: 14px;
  left: 0;
  cursor: text;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 300;
}

input.input-material ~ label.active {
  font-size: 0.8rem;
  top: -10px;
  color: $main-blue-color;
}

input.input-material.is-invalid ~ label {
  color: $main-pink-color;
}

input.input-material.is-invalid ~ .help {
  background: url('../../../assets/img/help-incorrect.png');
  background-size: contain;
}

#register-form button,  #login-form button{
  margin-top: 60px;
  background-color: $main-pink-color;
  border-color: $main-pink-color;
  border-radius: 10px;
}

#register-form button {
  margin-top: 30px;
}

.row.login-row {
  margin: 0;
}

.help {
  position: absolute;
  top: 15px;
  right: 0;
  background: url('../../../assets/img/help.png') no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  cursor: pointer;
  outline: none;
  &:hover {
    background: url('../../../assets/img/help-active.png');
    background-size: contain;
  }
}
.help:hover~.password-text {
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
  transition: all .5s ease;
}

.password-text {
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 100%;
  padding: 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
  color: $main-text-color;
  background-color: $main-light-color;
}

@media (max-width: 991px) {
  .advantages__container {
    flex-direction: column;
    align-items: center;
    .advantage:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  .about-team {
    &__representation {
      flex-direction: column;
    }
    .team-member:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 575px) {
  .container {
    padding: 15px 20px;
  }
  .hero {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .login__logo{
    display: none;
  }
  .popup-header ul {
    justify-content: center;
    width: 100%;
  }
  .password-text {
    font-size: small;
  }
}
