@font-face {
  font-family: 'Tenor-Sans';
  src: url('/assets/fonts/TenorSans-Regular.ttf');
}
@font-face {
  font-family: 'Poppins';
  src: url('/assets/fonts/Poppins-Regular.ttf');
}

.logo {
  text-decoration: underline;
}

body {
  background: $main-bg-color;
  height: 100vh;
}

input {
  outline:none;
}

h1 {
  display: inline-block;
  margin: 0;
}
a,
i,
span {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.brand-text {
  font-family: Tenor-Sans, tahoma, sans-serif;
  color: $main-pretty-text-color;
  font-weight: 800;
  & .colored {
    color: $main-pink-color;
    font-weight: 400;
  }
}

nav.navbar {
  background: $main-header-color;
  padding-top: 15px;
  padding-bottom: 15px;
  color: $main-text-color;
  position: relative;
  border-radius: 0;
  z-index: 10;
  padding-left: 0;
  padding-right: 0;

  & .navbar-holder {
    width: 100%;
  }
  & a {
    color: inherit;
  }
  & .container-fluid {
    width: 100%;
  }
}
.navbar-brand {
  display: inline-block;
  font-size: 1.25rem;
}

nav.navbar .nav-link {
  position: relative;
  padding: 0.5rem 0.7rem;
}

nav.navbar .nav-link span.badge-corner {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 400;
  font-size: 0.7em;
}

nav.navbar .nav-link.language span {
  margin-left: 0.3rem;
  vertical-align: middle;
}

nav.navbar .nav-link.logout {
  display: flex;
  align-items: center;
  font-size: 1em;
    & i#main-i {
      font-size: 1em;
      padding-left: 0;
      margin-left: 10px;
    }
}

nav.navbar .nav-menu {
  margin-bottom: 0;
  & .nav-item {
    display: flex;
  }
}

nav.navbar .greeting-for-user {
  color: $main-blue-color;
}

nav.navbar .dropdown-menu {
  right: 0;
  min-width: 120px;
  left: auto;
  margin-top: 18px;
  margin-bottom: 0;
  padding: 15px 0;
  max-width: 400px;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);
}

nav.navbar .dropdown-toggle::after {
  border: none !important;
  content: '\f107';
  vertical-align: baseline;
  font-family: 'FontAwesome';
  margin-left: 0.3rem;
}

nav.navbar .dropdown-menu .dropdown-item {
  background: $main-light-color;
  padding: 10px 20px;
  font-size: 0.8rem;
  color: #777;
  width: 100%;
}

nav.navbar .dropdown-menu .dropdown-item:hover {
  background: $main-blue-color;
  color: $main-light-color;
}

nav.navbar .menu-btn {
  margin-right: 20px;
  font-size: 1.2em;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  &.active {
    background-color: transparent;
  }
}

nav.navbar .menu-btn span {
  width: 35px;
  height: 1px;
  background: $main-text-color;
  display: block;
  margin: 8px auto 0;
  -webkit-transition: all 0.3s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  transition: all 0.3s cubic-bezier(0.81, -0.33, 0.345, 1.375);
}

nav.navbar .menu-btn span:nth-of-type(2) {
  position: relative;
  width: 35px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

nav.navbar .menu-btn span:nth-of-type(2)::before,
nav.navbar .menu-btn span:nth-of-type(2)::after {
  content: '';
  width: 8px;
  height: 1px;
  display: block;
  background: $main-text-color;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 3px;
  left: 0;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

nav.navbar .menu-btn span:nth-of-type(2)::after {
  -webkit-transform: rotate(145deg);
  transform: rotate(145deg);
  position: absolute;
  top: -2.5px;
  left: 0;
}

nav.navbar .menu-btn.active span:first-of-type {
  -webkit-transform: translateY(18px);
  transform: translateY(18px);
}

nav.navbar .menu-btn.active span:nth-of-type(2) {
  -webkit-transform: none;
  transform: none;
}

nav.navbar .menu-btn.active span:last-of-type {
  -webkit-transform: translateY(-18px);
  transform: translateY(-18px);
}

nav.side-navbar {
  height: calc(100vh - 78px);
  background: $main-light-color;
  min-width: 200px;
  max-width: 200px;
  color: $main-text-color;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.2);
  z-index: 9;

  & ul {
    padding: 15px 0;

    & a {
      padding: 10px 15px;
      text-decoration: none;
      display: block;
      font-weight: 300;
      border-left: 4px solid transparent;

      &:hover {
        background: $main-blue-color;
        border-left: 4px solid $main-darkblue-color;
        color: $main-light-color;
      }
    }
    & li li a {
      padding-left: 50px;
      background: $main-bg-color;
    }

    & li ul {
      padding: 0;
    }
  }
  & a {
    color: inherit;
    position: relative;
    font-size: 0.9em;
    & i {
      color: $main-text-color;
      font-size: 1.2em;
      margin-right: 10px;
      -webkit-transition: none;
      transition: none;
    }
  }
  & a[data-toggle='collapse']::before {
    content: '\f104';
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'FontAwesome';
    position: absolute;
    top: 50%;
    right: 20px;
  }
  & a[aria-expanded='true'] {
    background: $main-bg-color;
  }
  & ul li.active > a {
    background: $main-blue-color;
    border-left: 4px solid $main-darkblue-color;
    color: $main-light-color;
  }
}

nav.side-navbar a[data-toggle='collapse']::before {
  content: '\f104';
  display: inline-block;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'FontAwesome';
  position: absolute;
  top: 50%;
  right: 20px;
}

nav.side-navbar a[aria-expanded='true'] {
  background: $main-bg-color;
}

nav.side-navbar a[aria-expanded='true']::before {
  content: '\f107';
}

nav.side-navbar.shrinked {
  min-width: 100px;
  max-width: 100px;
  text-align: center;
  margin-left: 0;
}

nav.side-navbar.shrinked ul li a {
  padding: 15px 2px;
  border: none;
  font-size: 0.8em;
  color: #aaa;
  -webkit-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
  overflow: hidden;
  text-overflow: ellipsis;
}

nav.side-navbar.shrinked ul li a[data-toggle='collapse']::before {
  content: '\f107';
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  position: absolute;
  top: auto;
  right: 50%;
  bottom: 0;
  left: auto;
}

nav.side-navbar.shrinked ul li a[data-toggle='collapse'][aria-expanded='true']::before {
  content: '\f106';
}

nav.side-navbar.shrinked ul li a:hover {
  color: $main-light-color;
  border: none;
}

nav.side-navbar.shrinked ul li a:hover i {
  color: $main-light-color;
}

nav.side-navbar.shrinked ul li a i {
  color: $main-text-color;
  margin-right: 0;
  padding-left: 0;
  margin-bottom: 2px;
  display: block;
  font-size: 1rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

nav.side-navbar.shrinked ul li.active > a {
  color: $main-light-color;
}

nav.side-navbar.shrinked ul li.active > a i {
  color: $main-light-color;
}

nav.side-navbar.shrinked .sidebar-header .title {
  display: none;
}

@media (max-width: 575px) {
  nav.side-navbar {
    margin-left: -90px;
    min-width: 90px;
    max-width: 90px;
    text-align: center;
    overflow: hidden;
  }
  nav.side-navbar span.heading {
    margin: 0;
  }
  nav.side-navbar ul li a {
    padding: 15px 2px;
    border: none;
    font-size: 0.8em;
    color: #aaa;
    -webkit-transition: color 0.3s, background 0.3s;
    transition: color 0.3s, background 0.3s;
  }
  nav.side-navbar ul li a[data-toggle='collapse']::before {
    content: '\f107';
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    position: absolute;
    top: auto;
    right: 50%;
    bottom: 0;
    left: auto;
  }
  nav.side-navbar ul li a[data-toggle='collapse'][aria-expanded='true']::before {
    content: '\f106';
  }
  nav.side-navbar ul li a:hover {
    color: $main-light-color;
    border: none;
  }
  nav.side-navbar ul li a:hover i {
    color: $main-light-color;
  }
  nav.side-navbar ul li a i {
    margin-right: 0;
    margin-bottom: 5px;
    display: block;
    font-size: 1.6em;
    color: #333;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  nav.side-navbar ul li.active > a {
    color: $main-light-color;
  }
  nav.side-navbar ul li.active > a i {
    color: $main-light-color;
  }
  nav.side-navbar .sidebar-header .title {
    display: none;
  }
  nav.side-navbar.shrinked {
    margin-left: 0;
  }
  .content-inner {
    width: 100%;
  }
  .content-inner.active {
    width: calc(100% - 90px);
  }
  nav.navbar .menu-btn {
    margin-right: 10px;
    font-size: 1.2em;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  nav.navbar .menu-btn span:first-of-type {
    -webkit-transform: translateY(18px);
    transform: translateY(18px);
  }
  nav.navbar .menu-btn span:nth-of-type(2) {
    -webkit-transform: none;
    transform: none;
  }
  nav.navbar .menu-btn span:nth-of-type(2)::before,
  nav.navbar .menu-btn span:nth-of-type(2)::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  nav.navbar .menu-btn span:nth-of-type(2)::after {
    -webkit-transform: rotate(145deg);
    transform: rotate(145deg);
    position: absolute;
    top: -2px;
    left: 0;
  }
  nav.navbar .menu-btn span:last-of-type {
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px);
  }
  nav.navbar .menu-btn.active span:first-of-type {
    -webkit-transform: none;
    transform: none;
  }
  nav.navbar .menu-btn.active span:nth-of-type(2) {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  nav.navbar .menu-btn.active span:last-of-type {
    -webkit-transform: none;
    transform: none;
  }
}
