$desktop-width: 1019px;
$tablet-width: 767px;
$mobile-big-width: 374px;

$main-bg-color: #EEF5F9;
$main-header-color: #D5DBDE;
$main-text-color: #686a76;
$main-light-color: #fff;
$main-blue-color: #007bff;
$main-darkblue-color: #036cdb;
$main-pink-color: #ff7676;
$main-orange-color: #ffc36d;
$main-green-color: #54e69d;
$main-eng-text-color: #10707f;
$main-pretty-text-color: #007bff;
